<div class="card m-2" appClickCard>
  <div class="card-body" [ngClass]="{ 'card-body': isCard }">
    <img
      class="card-img-top"
      src="https://picsum.photos/300/300"
      alt="Card image cap"
    />
    <h5 class="card-title">{{ product.name | uppercase }}</h5>
    <p class="card-text">
      Units in stock: <span>{{ product.unitsInStock }}</span>
    </p>
    <p class="card-text">
      Category Id: <span>{{ product.categoryId }}</span>
    </p>
    <p class="card-text">
      Supplier Id: <span>{{ product.supplierId }}</span>
    </p>
    <p
      class="card-text"
      appOnSale
      [onSaleColor]="onMouseColor"
      [onSaleText]="onSaleText"
      [isOnSale]="product.unitPrice < 30"
    >
      <!-- <span>İndirim !!! </span> -->
      <!--  sale.directive.ts selector değiştirdik -->
      <strong class="h4">{{ product.unitPrice | kdv: 0.18 | currency }}</strong>
      <small></small>
    </p>
    <div class="d-flex justify-content-between">
      <button
        href="#"
        class="btn btn-success"
        (click)="addToCartEvent()"
        title="add to cart"
      >
        <i class="fa fa-solid fa-shopping-cart"></i>
      </button>
      <button
        href="#"
        class="btn btn-primary"
        routerLink="/products/{{ product.id }}"
        title="edit product"
      >
        <i class="fa fa-solid fa-pencil"></i>
      </button>
      <button
        href="#"
        class="btn btn-danger"
        (click)="deleteProductEvent(product.id)"
        title="delete"
      >
        <i class="fa fa-solid fa-trash"></i>
      </button>
    </div>
  </div>
</div>
