<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="row">
  <div class="row">
    <div
      class="alert alert-success"
      *ngIf="customerList.length > 0"
      role="alert"
    >
      Total customers : {{ customerList.length }}
    </div>
  </div>
  <div class="row">
    <div
      class="alert alert-warning"
      *ngIf="customerList.length == 0 && dataLoaded == true"
      role="alert"
    >
      Customer not found.
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6" *ngFor="let cs of customerList">
      <app-customer-card
        [customer]="cs"
        (onBtnClick)="deleteCustomerById(cs.id)"
      ></app-customer-card>
    </div>
  </div>
</div>
